:root{
    --fundo: #6959CD;
    --cor-frente: #9400D3;
    --cor-verso: #DC143C;
    --destaque:  #0000FF;
    --preto: #000000;
    --branco: #ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
}